.div_vtnauto {
    border-left: 0 !important
}

.div_vtnled {
    border-right: 0 !important
}

.div_assort_vtnauto_deskt,
.div_assort_vtnled_deskt {
    padding-bottom: 2vw
}

body * {
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    font-weight: 700
}

.vtn_logos_in_divs {
    height: 150px;
    width: auto
}

.autoel_web_name,
.led_light_web_name {
    display: inline-block;
    white-space: nowrap
}

.autoel_web_link_bottom,
.autoel_web_link_bottom:hover,
.autoel_web_link_title,
.autoel_web_link_title:hover,
.led_light_web_link_bottom,
.led_light_web_link_bottom:hover,
.led_light_web_link_title,
.led_light_web_link_title:hover {
    /* color: #007bff; */
    color: #0000FF
}

@media screen and (min-width:768px) and (max-width:825px) {

    .autoel_web_name,
    .div_vtnauto_logo_n_text>div,
    .div_vtnled_logo_n_text>div,
    .led_light_web_name {
        display: block !important
    }
}

@media screen and (max-width:767px) {

    .div_vtnauto_logo_n_text>div,
    .div_vtnled_logo_n_text>div {
        display: inline-block
    }

    .div_assort_vtnauto_mob {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) / 10 * 7)
    }

    .div_assort_vtnled_mob {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) / 37 * 19)
    }
}

@media screen and (min-width:826px) {

    .div_vtnauto_logo_n_text>div,
    .div_vtnled_logo_n_text>div {
        display: inline-block
    }
}

@media screen and (min-width:1200px) {
    .nameinheader h1 {
        font-size: 27px
    }

    .autoel_web_name,
    .led_light_web_name {
        font-size: 19px
    }

    .div_for_link_vtnauto,
    .div_for_link_vtnled {
        font-size: 17px
    }

    .page-footer {
        height: 5em
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .nameinheader h1 {
        font-size: 25px
    }

    .autoel_web_name,
    .led_light_web_name {
        font-size: 19px
    }

    .div_for_link_vtnauto,
    .div_for_link_vtnled {
        font-size: 17px
    }

    .page-footer {
        height: 5em
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .nameinheader h1 {
        font-size: 22px
    }

    .autoel_web_name,
    .led_light_web_name {
        font-size: 15px
    }

    .div_for_link_vtnauto,
    .div_for_link_vtnled {
        font-size: 17px
    }

    .page-footer {
        height: 5em
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .nameinheader h1 {
        font-size: 20px
    }

    .autoel_web_name,
    .led_light_web_name {
        font-size: 18px
    }

    .div_for_link_vtnauto,
    .div_for_link_vtnled {
        font-size: 17px
    }

    .page-footer {
        height: 5em
    }

    .footer-copyright {
        padding-top: 6px
    }

    .maindivinheader {
        height: 5em
    }

    .link_vtnauto_website {
        padding-bottom: 1.5em
    }

    .link_vtnled_website {
        padding-bottom: 1.5em
    }
}

@media screen and (max-width:575px) {
    .maindivinheader {
        height: 5em
    }

    .nameinheader h1 {
        font-size: 18px
    }

    .autoel_web_name,
    .led_light_web_name {
        font-size: 16px
    }

    .div_for_link_vtnauto,
    .div_for_link_vtnled {
        font-size: 16px
    }

    .link_vtnauto_website {
        padding-bottom: 1.5em
    }

    .link_vtnled_website {
        padding-bottom: 1.5em
    }

    .page-footer {
        height: 5em
    }

    .footer-copyright {
        padding-top: 6px
    }
}

@media screen and (max-width:767px) {
    .div_vtnauto {
        border-bottom: 3px solid #00a0e3
    }

    .link_vtnauto_website {
        padding-top: 15px
    }

    .link_vtnled_website {
        padding-top: 10px
    }
}

@media screen and (min-width:768px) {
    .maindivinheader {
        height: 5em
    }

    .link_vtnauto_website {
        padding-bottom: 1.5em
    }

    .link_vtnled_website {
        padding-bottom: .5em
    }

    .div_vtnauto {
        border-width: 2px;
        border-right-width: 5px !important;
        border-style: solid;
        border-image: linear-gradient(to bottom, #00a0e3, #ffa400) 1 100%
    }

    .div_vtnled {
        border-width: 2px;
        border-left-width: 5px !important;
        border-style: solid;
        border-image: linear-gradient(to bottom, #00a0e3, #ffa400) 1 100%
    }

    .autoel_web_name,
    .led_light_web_name {
        white-space: nowrap
    }

    .div_assort_vtnauto_deskt {
        width: calc(50vw - 48px);
        height: calc((50vw - 48px) / 47 * 35)
    }

    .div_assort_vtnled_deskt {
        width: calc(50vw - 48px);
        height: calc((50vw - 48px) / 47 * 35)
    }
}

header {
    background-color: #00a0e3
}

footer {
    background-color: #ffa400
}

.div_logos {
    min-height: 100px
}

.maindivinheader h1 {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (max-width:1999px) {
    .logo_reg_scr {
        display: inline-block
    }

    .logo_extral_scr {
        display: none
    }
}

@media screen and (min-width:2000px) {
    .maindivinheader {
        height: 5vw !important
    }

    .nameinheader h1 {
        font-size: 1.5vw !important
    }

    .logo_reg_scr {
        display: none
    }

    .logo_extral_scr {
        display: inline-block
    }

    .vtn_logos_in_divs {
        height: 10vw !important
    }

    .autoel_web_name,
    .led_light_web_name {
        font-size: 1vw !important
    }

    .link_vtnauto_website,
    .link_vtnled_website {
        padding-bottom: 1.5vw
    }

    .div_for_link_vtnauto,
    .div_for_link_vtnled {
        font-size: 1vw !important
    }

    .page-footer {
        height: 5vw !important
    }

    .footer-copyright {
        font-size: 1vw !important
    }
}

@media screen and (min-width:4150px) {

    .img_assort_vtnauto,
    .img_assort_vtnled {
        width: 48vw !important
    }
}

.footer-copyright {
    width: 105px
}